.index-container {
    display: grid;
    grid-template: "header"4.5rem "carrusel"10rem "marketing"70rem "info"41rem "footer"auto;
}

.carousel {
    grid-area: carrusel;
    padding-top: 3.2rem;
}

.carousel-item {
    img {
        filter: sepia(50%);
        width: 100%;
    }
}

.btn-carr {
    margin-top: 3rem;
}

.btn-car {
    background-color: #7F38DE;
}

.carousel-caption {
    em {
        color: rgb(167, 167, 167);
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgb(128, 128, 128);
    text-align: center;
}

.container-marketing {
    grid-area: marketing;
}

.item-marketing {
    text-align: center;
    padding: 1rem 0 4rem 0;

    img {
        width: 100px;
        height: 100px;
    }

    h2 {
        padding-top: 1rem;
        text-align: center;
    }

    p {
        padding: 0 4rem;
    }
}

.button {
    color: #e8d9fa;
    background-color: #7F38DE;
}

.index-info {
    grid-area: info;
    color: rgb(0, 0, 0);
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 1rem;
}

.info-item {
    i {
        font-size: 2.5rem;
        padding: 3rem 0;
    }

    p {
        font-family: time_burner_bold;
        font-size: 1.1rem;
    }
}